include AUTHORS.rst CONTRIBUTING.rst LICENSE README.rst
include pixi.lock
recursive-include pilatus_tools/ui *.ui
recursive-include docs *.rst *.py Makefile make.bat
recursive-include xpilatus/tests *.py
